<?xml version="1.0"?>
<settings>

  <!-- Database settings  -->
  <database>
    <host>localhost</host>
    <name>poligons</name>
    <user>root</user>
    <pass>Zerg1979</pass>
  </database>

  <database_external>
    <host></host>
    <name></name>
    <user></user>
    <pass></pass>
  </database_external>

  <!-- Authentication mode -->
  <auth>
    <mode>2</mode>
  </auth>

  <!-- Domain name server -->
  <ad_server>
    <address>95.47.114.222</address>
    <account_sufix>@gis.local</account_sufix>
    <base_dn>DC=gis,DC=local</base_dn>
  </ad_server>

</settings>
