<!DOCTYPE html>
<html>
  <head>
    {include file="head.html"}
  </head>
  <body>
    <div class="content-wrapper">

      <!--HEADER -->
      <div class="header">
        {include file="header.html"}
      </div>

      <div class="main-content">
        <!-- LEFT SIDE -->
        <div class="left-side">

        </div>

        <!-- CENTER SIDE -->
        <div class="center-side">
        </div>

        <!-- RIGHT SIDE -->
        <div class="right-side">

        </div>
      </div>

      <!-- FOOTER -->
      <div class="footer">
        {include file="footer.html"}
      </div>

    </div>
  </body>
</html>