{if is_null($user) || $user->logged === false}
<form action="/user/auth" method="POST">
  <input name="login" type="text" value="{$login}" placeholder="Логін" />
  <input name="password" type="password" value="{$password}" placeholder="Пароль" />
  <button type="submit">Вхід</button>
</form>
{else}
<form action="/user/logout" method="POST">
  <div class="user_info">{if $user->is_admin === true}Адміністратор{else}{$user->display_name}{/if}</div>
  <button type="submit">Вихід</button>
</form>
{/if}
{if $user->login != "" && $user->password != "" && $user->logged === false}
<br><span class="login_err">Невірний логін або пароль</span>
{/if}